.flex_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.flex_list {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 32px;
    height: auto;
}

.flex_list article {
    margin: 0 20px;
}

.flex_list article section h4{
    text-align: center;
}

.button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.modify {
    background-color: #BE9472;
    color: white;
}

.modify a {
    text-decoration: none;
    color: white;
}

.modify:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modify:active {
    box-shadow: none;
}

.delete {
    background-color: #654028;
    color: white;
}

.delete:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete:active {
    box-shadow: none;
}