.carousel {
    display: block;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 450px;
    overflow: hidden;
    padding-left: 380px;
    padding-right: 250px;
    padding-bottom: 50px;
    margin: auto;
  }
  
  .carousel img {
    width: 70%;
    height: auto;
  }
  
  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #654028;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel button:focus {
    outline: none;
  }
  
  .carousel button:first-of-type {
    left: 310px;
  }
  
  