.carousel {
  position: relative;
  width: 20%; /* Adjust as needed */
  margin: auto;
  overflow: hidden;
  background-color: #f9f9f9; /* Optional: background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: box shadow for depth */
  border-radius: 10px; /* Optional: rounded corners */
}

.carousel img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease-in-out;
}

.carousel button {
  position: absolute;
  top: 50%;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  outline: none;
}

.previous {
  background-image: url(../../public/images/concept/fleche-gauche.png);
  left: 10px;
  color: black;
}

.next {
  background-image: url(../../public/images/concept/fleche-droite.png);
  right: 10px;
  color: black;
}

  
  