/* Configuration de la nav bar */

.menu {
    background-color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.menu li {
    margin: 1rem;
}

.menu a {
    color: black;
    font-weight: bold;
    padding-right: 1rem;
    text-decoration: none;
}

.menu a:hover {
    color: goldenrod;
    font-weight: bold;
    padding-right: 1rem;
}

.menu button {
    background-image: url(../../public/images/header/login_icon.svg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    height: 30px;
    width: 30px;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #282c34;
    color: white;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }






/* Configuration de la banner*/

header {
    height: 420px;
    background-image: url(../../public/images/header/newbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    align-items:flex-start;
    flex-wrap: wrap;

}
.bannerlogo {
    background-image: url(../../public/images/header/logo.svg);
    width: 25%;
    height: 25%;
    background-size: cover;
    text-align: center;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

header h1 {
    color: white;
    font-size: 25px;
    position: relative;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    padding-left: 4px;
}

