/* Configuration du footer */

.pieddepage {
    background-color: white;
    color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
}

.pieddepage a {
    color: black;
}

.pieddepage img {
    padding: 1rem;
    width: 10%;
}

.pieddepage {
    display: flex;
    padding: 0;
}

.pieddepage li a {
    padding: 0 1rem;
    color: black;
    text-decoration: none;
}

footer                                                                                     .pieddepage li a:hover {
    padding: 0 1rem;
    color: goldenrod;
}